.left-container {
	flex-grow: 1;
}

.full-container {
	display: flex;
	flex-direction: column-reverse;
	padding: 1.6rem;
}

.container {
	max-width: 68rem;
	margin: 0 auto;
	padding: 0 $m-size;
}

@media (min-width: $desktop-breakpoint) {
	.left-container {
		margin-right: 1.6rem;
	}

	.full-container {
		flex-direction: row;
	}
}
